SLACK_BOT_TOKEN=xoxb-your-bot-token-here
SLACK_APP_TOKEN=xapp-your-app-token-here
SLACK_SIGNING_SECRET=your-signing-secret-here

LOG_FILE=logs/log_file.log

#Connect to Postgres
DB_USER = "students"
DB_PASS = "YOUR_PASSWORD"
DB_HOST = "YOUR_HOST"
DB_PORT = "5432"
DB_NAME = "YOUR_DB"

#OpenAI
OPENAI_API_KEY=your_openai_api_key